html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 30px 0;
    background-color: white;
}

nav {
    position: fixed;
    top: 0;
    padding: 10px 0;
    border-bottom-right-radius: 5px;
    width: 33%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
    background-color: white;
}

.navLink {
    color: black;
    font-weight: bold;
    text-decoration: none;
    transition: .3s ease-in-out;
}

.navLink:hover {
    color: #058789;
}

#lightDarkMode {
    border: none;
    cursor: pointer;
    background-color: transparent;
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 5;
}

#lightDarkMode img {
    pointer-events: none;
}

h1 {
    width: 200px;
    text-align: center;
    border-bottom: 1px solid black ;
    margin: 30px auto 0 auto;
    font-weight: 400;
}
h2 {
    text-align: center;
    margin-top: 30px;
}
.palette {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 1000px;
    height: 35px;
    display: flex;
    margin: 0 auto;
    z-index: 5;
}

.grabPalette {
    margin-left: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.topOfPage {
    position: fixed;
    top: 0;
    left: 33%;
    width: 40%;
}

.color {
    min-width: 20%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: black;
}

.fontNav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0;
    position: sticky;
    top: 0;
    background-color: white;
    max-width: 350px;
    margin: 0 auto;
}

.fontNav .fontHeadContainer,
.fontNav .fontSubContainer {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.fontNav div input[type=color] {
    margin: 0 auto;
}

.fontNav label {
    margin-top: 5px;
    font-weight: bold;
    text-align: center;
}

.fontNav input {
    max-width: 150px;
}

#hideShowFontNav {
    border: none;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

#hideShowFontNav img {
    pointer-events: none;
    transition: .3s ease-in-out;
}

.flip {
    transform: rotate(180deg);
}

.backgroundUpload {
    text-align: center;
    margin-top: 10px;
}

.backgroundUpload #backgroundColorPick {
    margin: 0 auto;
    display: block;
}

.backgroundUpload label[for=imageUpload],
.backgroundUpload #clearImage {
    border: 1px solid black;
    display: block;
    width: 120px;
    padding: 5px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    background-color: transparent
}

.backgroundUpload #clearImage {
    display: none;
}

.backgroundUpload #imageUpload {
    opacity: 0;
    height: 0;
    width: 0;
}

.backgroundUpload h3 {
    text-align: center;
    margin-top: 10px;
    display: none;
}

.backgroundRadioButtons {
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.radioContainer {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35px;
}

.fontGroup {
    padding: 50px 0 80px 0;
    width: 50%;
    min-width: 350px;
    margin: 0 auto;
}

.fontName {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    min-width: 300px;
    border-bottom: 1px solid black;
    margin: 0 auto;
}

.selectedFonts {
    padding-bottom: 30px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.font1, .font2 {
    width: 100%;
    text-align: center;
    border: none;
}

@media screen and (max-width: 800px) {
    .topOfPage {
        font-size: 10px;
        font-weight: bold;
    }
}